$rem-base: 14px;
html{
  font-size: $rem-base;
}
@function rem($size) {
  @return ($size / $rem-base)* 1rem;
}

@import "media.scss";
@import "header.scss";

body{
  width: rem(1000px);
  margin-right: auto;
  margin-left: auto;
}