$rem-base: 16px;
$width: 1000px;

@import "media.scss";
@import "value.scss";
@import "node_modules/susy/sass/susy";
@import "node_modules/susy/sass/plugins/svg-grid";
@import "grid.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";

body{
margin: 0;
}

/////items-decoration/////
a {
  text-decoration: none;
}

ul {
  padding: 0;
}

button {
  cursor: pointer;
}

.text-uppercase{
  text-transform: uppercase;
}
///////////////

.wrapper {
  margin: 0 auto;

  font-family: "Roboto", sans-serif;

  background-color: white;

  @include desktop {
    width: $width;
  }
  @include tablet {
    min-width: $width/2;
  }
  @include phone {
    min-width: $width/5;
  }
}

.btn {
  height: rem(30px);

  border: 0;
  border-radius: rem(5px);

  background-color: $blue;
  color: white;
}

.text {
  margin-top: rem(5px);

  font-size: rem(12px);

  color: gray;
}
