
.main__content1{
  @include phone{flex-direction: column}
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $gray;
  border-top: rem(5px) solid;
  border-bottom: rem(5px) solid;
  border-color: $gray-light;
}


.main__content1__block{
  @include desktop{width: rem(350px);}
  @include tablet{min-width: rem(250px);}
  @include phone{min-width: rem(200px);}
}

.main__content2{
  display: flex;
  flex-wrap: wrap;
}

.main__content2__items{
  display: flex;
  flex-wrap: wrap;
  width: span(2);

  @include phone{
    width: span(4)
  }

  section{

    &:nth-child(2n){
      width: span(2);
      margin-right: 0;
    }
    &:nth-child(2n+1){
      width: span(2);
      margin-right: gutter();
    }
    @include phone{
      width: span(4)
    }
    text-align: center;
    h3{
      color: $blue;
      margin: 0;
      margin-bottom: rem(20px);
    }
  }
}

.main__content2__picture{
  width: span(2);
  margin-right: gutter();
  @include phone{
    width: span(4);
    margin-right:0;
    margin-bottom: rem(20px);
  }
  img{
    width: 100%;
    max-width: rem(505px);
  }
  display: flex;
  justify-content: center;
}

.main__content3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: rem(10px) solid $blue;
  background-color: #e0e0e0;
  margin-left: rem(20px);
  margin-right: rem(20px);
  @include phone{flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
}

.main__content3__block{
  margin: rem(30px);
  h2{margin: 0;}
  p{margin: 0;}
}

.main__content3__btn{
  margin: rem(30px);
  height: rem(57px);
  font-size: rem(16px);
  border: 0;
  border-radius: rem(10px);
  background-color: $blue;
  color: white;
}

.fade {
  @include phone{width: rem(200px);}
  @include tablet{width: rem(350px);}
  @include desktop{width: rem(550px);}
}
