.container-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $gray;

  border-top: rem(5px) solid;
  border-bottom: rem(5px) solid;
  border-color: $gray-light;

  @include phone {
    flex-direction: column;
  }
}

.fade {
  @include phone {
    width: rem(200px);
  }
  @include tablet {
    width: rem(350px);
  }
  @include desktop {
    width: rem(550px);
  }
}

.container-1__item {
  @include desktop {
    width: rem(350px);
  }
  @include tablet {
    min-width: rem(250px);
  }
  @include phone {
    min-width: rem(200px);
  }
}

.container-2 {
  display: flex;
  flex-wrap: wrap;
}

.container-2__items {
  display: flex;
  flex-wrap: wrap;

  width: span(2);

  @include phone {
    width: span(4);
  }

  section {
    width: span(2);

    text-align: center;

    h3 {
      margin: 0;
      margin-bottom: rem(20px);

      color: $blue;
    }

    @include phone {
      width: span(4);
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(2n + 1) {
      margin-right: gutter();
      @include phone {
        margin-right: 0;
      }
    }
  }
}

.container-2__picture {
  display: flex;
  justify-content: center;

  width: span(2);
  margin-right: gutter();

  @include phone {
    width: span(4);
    margin-right: 0;
    margin-bottom: rem(20px);
  }

  img {
    width: 100%;
    max-width: rem(505px);
  }
}

.container-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-left: rem(20px);
  margin-right: rem(20px);

  background-color: $light-white;

  border-left: rem(10px) solid $blue;


  @include phone {
    flex-direction: column;

    margin-left: 0;
    margin-right: 0;
  }
}

.container-3__item {
  margin: rem(30px);

  h2,p {
    margin: 0;
  }
}

.container-3__btn {
  height: rem(57px);
  margin: rem(30px);

  background-color: $blue;
  color: white;

  font-size: rem(16px);

  border: 0;
  border-radius: rem(10px);

}
