@mixin phone{
  @media (max-width: 676px) { @content;
}}

@mixin tablet{
  @media (min-width: 677px) { @content; }
}

@mixin desktop{
  @media (min-width: 1025px) { @content; }
}

@if (screen == tablet) {
  $rem-base: 14px;
  $width : 500px;
}
@else if (screen == phone) {
  $rem-base: 12px;
  $width : 200px;
}
